Continuing from lab #7, add everything to make it a "real" API with MongoDB integration, linting, validation, and unit tests.

Create a JSON schema to describe the input and output of the application.

Use the JSON schema to validate user input. Return an appropriate HTTP status code and the validation failure message when user input is invalid.

Create an OpenAPI spec that documents your API and covers :
All endpoints
Request bodies
Responses
Parameters
Add linting using the airbnb-base configuration